{% extends 'base_layout.html' %}
{% from "_formhelpers.html" import render_field %}


{% block content %}

{% if current_user.is_authenticated %}

<p> Welcome, {{ current_user.email }}.</p>

<p>To do:</p>
<ul>
    {% for todo in current_user.todos %}
    <li>
        {% if todo.completed %}
        <strike>
            {% endif %}

            {{ todo.name }}

            {% if todo.completed %}
        </strike>
        {% endif %}

        <form method="post" action="/delete">
            <input type="hidden" name="delete" value="{{ todo.id }}">
            <input type="submit" value="Delete">
        </form>
        <form method="post" action="/toggle">
            <input type="hidden" name="toggle" value="{{ todo.id }}">
            <input type="submit" value="Toggle">
        </form>
    </li>

    {% endfor %}
</ul>
<form method="POST">
    {{ form.csrf_token }}

    {{ render_field(form.todo) }}
    <input type="submit" value="Submit">
</form>

{% else %}
Hello, You've just stumbled upon the best to do app ever! <br>
Please register or log in to start tracking your to-dos.
{% endif %}
{% endblock %}