{% extends 'base_layout.html' %}
{% from "_formhelpers.html" import render_field %}


{% block content %}

{% if current_user.is_authenticated %}

<p> Welcome, {{ current_user.email }}</p>
<br>

<h4>To do list</h4>
<hr width="50%">

<ul style="list-style: none;">
    {% for todo in current_user.todos %}
    <li>
        {% if todo.completed %}
        <strike>
            {% endif %}

            {{ todo.name }}

            {% if todo.completed %}
        </strike>
        {% endif %}
        <form method="post" action="/toggle">
            <input type="hidden" name="toggle" value="{{ todo.id }}">
            <button type="submit" class="btn btn-info btn-sm"> Toggle </button>
        </form>
        <form method="post" action="/delete">
            <input type="hidden" name="delete" value="{{ todo.id }}">
            <button type="submit" class="btn btn-outline-info btn-sm">Delete</button>
        </form>

    </li>

    {% endfor %}
</ul>

<hr width="50%">

<form method="POST">
    {{ form.csrf_token }}

    {{ render_field(form.todo) }}
    <button type="submit" class="btn btn-outline-dark btn-block">Submit</button>
</form>

{% else %}
Hello, You've just stumbled upon the best to do app ever! <br>
Please register or log in to start tracking your to-dos.
{% endif %}
{% endblock %}